@font-face {
    font-family: 'Montserrat'; 
    src: url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype'); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: 'Montserrat-Medium'; 
    src: url(./assets/fonts/Montserrat/Montserrat-Medium.ttf) format('truetype'); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: 'Allura'; 
    src: url(./assets/fonts/Allura/Allura-Regular.ttf) format('truetype'); 
    font-style: normal; 
    font-weight: normal; 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

:root {
    --transition: 0.5s;
    --color-light: white;
    --background-primary-color: rgba(255, 70, 70, 1);
    --font-color-light: white;
    --font-color-dark: black;
    --border-radius: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
   /* background: var(--background-primary-color)*/;
}

.container {
    display: flex;
    max-width: 1276px;
    /*width: 100%;*/
    margin: auto;
}

/*---------header---------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-light);
    font-family: 'Montserrat';
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    padding: 1.3rem 1rem;
    position: relative;
    z-index: 999;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
}

.logo__image {
    width: 24px;
    height: 24px;
    background: url(./assets/img/snowflake.svg);
    background-repeat: no-repeat;
}

.logo__name {
    margin: 0 8px 0;
    text-wrap: nowrap;
}
/*----------Nav--------*/

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 28px;
    margin: 0 10px;
}

.nav a {
    color: var(--font-color-dark);
}

.nav__item {
    border-radius: 12px;
    padding: 10px;
}

.nav__item:hover {
    background: rgba(255, 70, 70, 0.1);
    transition: var(--transition);
    cursor: pointer;
}

.nav__item:hover :nth-child(1){
    color: var(--background-primary-color);
    transition: var(--transition);
}

/*---------Hero---------*/

.main {
    max-width: 1440px;
    width: 100%;
    background-color: var(--background-primary-color);
    border-radius: var(--border-radius);
}

.caption {
    font-family: 'Allura';
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.05em;
    text-align: center;
}

.hero__caption {
    color: var(--font-color-light); 
    margin: 1.2rem;
}

.button {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    background: rgba(24, 28, 41, 1);
    border-radius: var(--border-radius);
    padding: 20px 32px;
    outline: none;
    border: none;
    color: var(--font-color-light);
    cursor: pointer;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: var(--color-light);
    color: var(--font-color-dark);
    transition: ease-in-out var(--transition);   
}

.h1 {
    font-family: 'Montserrat';
    font-size: 3.2rem;
    line-height: 4.8rem;
    letter-spacing: 0.18em;
    text-align: center;
    color: var(--font-color-light);
    text-transform: uppercase;
    margin: 0 0 1.2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin: auto;
    height: 530px;
}

.hero__wrapper {
    /*position: relative;
    top: 11rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hero__background {
    position: absolute;
    display: block;
    width: 100%;
    width: 1440px;
    background-size: contain;
}

.bigball {
    background-image: url(./assets/img/bigball.png);
    z-index: 0;
    top: -35px;
    transform: translatex(-34.8%);  
    background-repeat: no-repeat;
    height: 600px;
}

.bigsnow {
    background-image: url(./assets/img/bigsnow.png);
    z-index: 0;
    top: -35px;
    transform: translatex(-35%);  
    height: 1600px;
}

/*---------About---------*/

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin: auto;
    z-index: 999;
    padding-top: 56px;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--font-color-light);
    border-radius: var(--border-radius);
    width: 100%;
}

.about__caption {
    color: var(--background-primary-color);
}

.about__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 638px;
    height: 528px;
    padding: 100px 150px 100px 60px;
    gap: 20px;
}

.santa {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./assets/img/santa.png);
    width: 638px;
    height: 528px;
    border-radius: var(--border-radius);
}

.h2 {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: left;
    text-transform: uppercase;
}

.unique {
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 23.68px;
    text-align: left;
}

/*--------Slider---------*/

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-top: 10rem;
}

.slider__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 328px;*/
}

.slider__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 2rem;
}

.slider__caption {
    color: var(--font-color-light);
}

.slider__article h2 {
    color: var(--font-color-light);
}

.slider__row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    min-width: 0;
    height: 200px;
    gap: 20px;
    position: relative;
    transform: translateX(18%);
}

.slider__cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    gap: 20px;
}

.slider__word {
    font-family: 'Montserrat';
    font-size: 80px;
    line-height: 97.52px;
    text-align: center;
    color: var(--font-color-light);
    text-transform: uppercase;
}

.slider__image {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
}

.slider__button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
    gap: 20px;
}

.slider__button {
    width: 56px;
    height: 56px;
    border-radius: var(--border-radius);
    background: none;
    outline: none;
    border: 1px solid var(--color-light);
    color: var(--font-color-light); 
    cursor: pointer;
}

.button__active:hover {
    border: 1px solid var(--color-light);
    background-color: var(--color-light);
    color: var(--background-primary-color);
    transition: var(--transition);
}

.button__unactive {
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
    color: rgba(255, 255, 255, 0.4) !important;
    cursor: not-allowed !important;
}

/*---------Best---------*/

.best {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8rem;
}

.best__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best__article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem;
}

.best__caption {
    color: var(--font-color-light);
}

.best__article h2 {
    color: var(--font-color-light);
}

.best__cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/*---cards---*/

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 342px;
    border-radius: var(--border-radius);
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.card:hover :nth-child(2) {
    color: var(--background-primary-color);
    transition: 0.3s;
}

.card-image {
    position: relative;
    width: 310px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: var(--border-radius);
    z-index: 0;
}

.card-article {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 112px;
    padding: 18px 20px;
    border-radius: var(--border-radius);
    background: var(--color-light);
    z-index: 999;
}

.card-tag {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    line-height: 2.3rem;
    letter-spacing: 0.05em;
    text-align: left;
    color: var(--font-color-dark);
    text-transform: uppercase;
}

.work {
    color: rgba(67, 97, 255, 1);
}

.health {
    color: rgba(6, 164, 79, 1)
}

.harmony {
    color: rgba(255, 67, 247, 1);
}

.card-name {
    font-family: 'Montserrat';
    font-size: 1.6rem;
    line-height: 2.432rem;
    letter-spacing: 0.08em;
    text-align: left;
    color: var(--font-color-dark);
    text-transform: uppercase;
}

/*---------timer---------*/

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 24rem 0 16.7rem; 
}

.timer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
}

.timer h2 {
    color: var(--font-color-light);
    text-align: center;
}

.timer__caption {
    color: var(--font-color-light);
}

.timer__article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.8rem;
}

.timer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 344px;
    height: 72px;
    border-radius: var(--border-radius);
    padding: 8px 12px 12px;
    text-align: center;
    color: var(--font-color-light);
    background:rgba(255, 255, 255, 0.4);
    font-family: 'Montserrat';
    margin: 1rem;
}

.timer__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 52px;
}

.mid {
    height: 20px;
    width: 0.6px;
    background: var(--font-color-light);
}

.timer__naming {
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--font-color-light);
    text-transform: uppercase;
}

.forest {
    background-image: url(./assets/img/forest.png);
    z-index: 0;
    transform: translateY(16%); 
    background-repeat: no-repeat;
    height: 1000px;
    position: absolute;
    display: block;
    width: 100%;
    width: 1440px;
    background-size: contain;
}

/*---------footer---------*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 999;
    margin: auto;
    background: var(--color-light);
    color: var(--font-color-dark);
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*max-width: 1440px;*/
    width: 100%;
    border: 1px solid var(--color-light);
    margin-top: 6rem;
}

footer a {
    color: var(--font-color-dark);
}

.footer__article {
    height: 112px;
}

.footer__cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 417.33px;
    height: 204px;
    padding: 20px;
    gap: 12px;
    border-radius: var(--border-radius);
    background: rgba(236, 243, 248, 1);
    cursor: pointer;
}

footer a:hover,
.footer__card:hover :nth-child(3),
.footer__card:hover :nth-child(2) {
    color: var(--background-primary-color);
    transition: 0.3s;
}

.footer__cards-image {    
    width: 80px;
    height: 80px;
}

.footer__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 6rem 0 6rem;
    gap: 14px;
}

.footer__links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 196px;
    height: 40px;
    color: var(--font-color-dark);
}

svg path {
    stroke: inherit;
    stroke-width: inherit;
    transition: all .5s ease;
}

.footer__links-wrapper li svg {
    stroke: var(--font-color-dark);  
}

.footer__links-wrapper li:hover {
    stroke: rgba(255, 70, 70, 1);   
}

.footer__links-wrapper li svg:hover {
    stroke: rgba(255, 70, 70, 1);  
}