@font-face {
    font-family: 'Montserrat'; 
    src: url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype'); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: 'Montserrat-Medium'; 
    src: url(./assets/fonts/Montserrat/Montserrat-Medium.ttf) format('truetype'); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: 'Allura'; 
    src: url(./assets/fonts/Allura/Allura-Regular.ttf) format('truetype'); 
    font-style: normal; 
    font-weight: normal; 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

:root {
    --transition: 0.5s;
    --color-light: white;
    --background-primary-color: rgba(255, 70, 70, 1);
    --font-color-light: white;
    --font-color-dark: black;
    --border-radius: 20px;
}

body {
    margin: auto;
    background: var(--background-primary-color);
}

.container {
    display: flex;
    max-width: 1276px;
    /*width: 100%;*/
    margin: auto;
}

/*---------header---------*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-light);
    font-family: 'Montserrat';
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    padding: 1.3rem 1rem;
    position: relative;
    z-index: 999;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
}

.logo__image {
    width: 24px;
    height: 24px;
    background: url(./assets/img/snowflake.svg);
    background-repeat: no-repeat;
}

.logo__name {
    margin: 0 8px 0;
    text-wrap: nowrap;
}

/*----------Nav--------*/

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 28px;
    margin: 0 10px;
}

.nav a {
    color: var(--font-color-dark);
}

.nav__item {
    border-radius: 12px;
    padding: 10px;
}

.nav__item:hover {
    background: rgba(255, 70, 70, 0.1);
    transition: var(--transition);
    cursor: pointer;
}

.nav__item:hover :nth-child(1){
    color: var(--background-primary-color);
    transition: var(--transition);
}

/*---------Hero---------*/

.caption {
    font-family: 'Allura';
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.05em;
    text-align: center;
}

.hero__caption {
    color: var(--font-color-light); 
    margin: 1.2rem;
}

.button {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    background: rgba(24, 28, 41, 1);
    border-radius: var(--border-radius);
    padding: 20px 32px;
    outline: none;
    border: none;
    color: var(--font-color-light);
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-light);
    color: var(--font-color-dark);
    transition: ease-in-out var(--transition);   
}

.h1 {
    font-family: 'Montserrat';
    font-size: 3.2rem;
    line-height: 4.8rem;
    letter-spacing: 0.18em;
    text-align: center;
    color: var(--font-color-light);
    text-transform: uppercase;
    margin: 0 0 1.2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin: auto;
    height: 530px;
}

.hero__wrapper {
    /*position: relative;
    top: 11rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hero__background {
    position: absolute;
    display: block;
    width: 100%;
    width: 1440px;
    background-size: contain;
}

.bigball {
    background-image: url(./assets/img/bigball.png);
    z-index: 0;
    top: -35px;
    transform: translatex(-34.8%);  
    background-repeat: no-repeat;
    height: 600px;
}

.bigsnow {
    background-image: url(./assets/img/bigsnow.png);
    z-index: 0;
    top: -35px;
    transform: translatex(-35%);  
    height: 1600px;
}

/*---------About---------*/

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin: auto;
    z-index: 999;
    padding-top: 56px;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--font-color-light);
    border-radius: var(--border-radius);
    width: 100%;
}

.about__caption {
    color: var(--background-primary-color);
}

.about__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 638px;
    height: 528px;
    padding: 100px 150px 100px 60px;
    gap: 20px;
}

.santa {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./assets/img/santa.png);
    width: 638px;
    height: 528px;
    border-radius: var(--border-radius);
}

.h2 {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: left;
    text-transform: uppercase;
}

.unique {
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    line-height: 23.68px;
    text-align: left;
}